/**
  我的初始化
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  overflow-y: auto;
}
body::-webkit-scrollbar {
  width: 14px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 4px;
  scrollbar-arrow-color: red;
  /*background-color: #fff;*/
}
body::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 100px;
  /*-webkit-box-shadow: inset 0 0 5px yellow;*/
  background: rgba(255, 255, 255, 0.2);
  scrollbar-arrow-color: rgba(255, 255, 255, 0.2);
}
body::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  /*-webkit-box-shadow: inset 0 0 10px rgba(0, 0, 255, 0.9);*/
  border: solid 2px rgba(255, 255, 255, 0.4);
  border-radius: 100px;
  background: rgba(0, 0, 0, 0.1);
}
/***
 有关中心恒星的样式
 */
#centerStar {
  width: 10px;
  height: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-5px) translateY(-5px);
  border-radius: 100px;
  box-shadow: 0 0 10px yellow;
  background-color: white;
}
/**
 和旋转有关的css动画
 */
@keyframes planetRound {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes planetRoundR {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-360deg);
  }
}
@keyframes rotate-frame {
  0% {
    transform: rotateX(45deg) rotateY(0deg) rotateZ(30deg);
  }
  100% {
    transform: rotateX(45deg) rotateY(360deg) rotateZ(30deg);
  }
}
/**
 星空画布的样式
 */
.canvasTmp {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  overflow: hidden;
}
.starWay {
  width: 80%;
  height: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: left center;
}
.slipStar {
  width: 3px;
  height: 3px;
  border-radius: 100px;
  position: absolute;
  background-color: white;
  animation-name: slideStar;
  animation-duration: 6s;
  animation-timing-function: cubic-bezier(0.99, 0, 1, 1);
  animation-iteration-count: infinite;
}
@keyframes slideStar {
  0% {
    width: 0.2px;
    height: 0.2px;
    left: 0;
  }
  100% {
    width: 7px;
    height: 7px;
    left: 100%;
  }
}
@font-face {
  font-family: "impact";
  src: url("../fonts/impact.woff");
}
body {
  color: white;
  background-color: black;
}
body .mainTitle {
  text-align: center;
  line-height: 4em;
}
body .logs {
  width: 80%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.3);
}
body .logs .item {
  width: 20%;
  min-width: 200px;
  height: 100px;
  margin: 15px;
  padding: 20px;
  position: relative;
  text-align: center;
  background-color: black;
}
body .logs .item .time {
  width: 100px;
  height: 100%;
  padding: 10px;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-100px);
  font-family: "impact", serif;
  color: black;
  background-color: #f7971d;
  filter: hue-rotate(0deg);
}
body .logs .item .time .icon {
  position: absolute;
  right: 0;
  top: 0;
}
body .logs .item .time span {
  font-size: 18px;
}
body .logs .item .time .year,
body .logs .item .time .t {
  display: block;
  text-align: center;
}
body .logs .item .time .month {
  margin-right: 4px;
}
body .logs .item .time .month,
body .logs .item .time .day {
  font-size: 32px;
}
a {
  color: #ffa500;
}
@media screen and (max-width: 1024px) {
  body .mainTitle {
    font-size: 60px;
  }
  body .logs {
    background-color: transparent;
    width: 100%;
  }
  body .logs .item {
    width: 60%;
    height: 250px;
    margin-bottom: 50px;
    left: 35%;
    outline: solid 1px;
  }
  body .logs .item .name,
  body .logs .item .series {
    font-size: 50px;
  }
  body .logs .item .series {
    color: rgba(255, 255, 255, 0.5);
  }
  body .logs .item .time {
    width: 300px;
    transform: translateX(-300px);
  }
  body .logs .item .time span {
    font-size: 70px;
  }
  body .logs .item .time .month,
  body .logs .item .time .day {
    font-size: 50px;
  }
}
/*# sourceMappingURL=historySingleLine.css.map */